<div class="navbar navbar-light bg-light">
<button (click)="initData()" class="btn btn-success">Refresh</button>
<button (click)="newMsg()" class="btn btn-primary">New message</button>
</div>

<table class="table table-striped">
        <thead>
            <tr>
                    <th>Sender</th>
                    <th>Subject</th>
                    <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let m of messages" 
            [ngStyle]="{'font-weight': m.isRead === true ? '' : 'bold'}">
              <td>
                     <div>{{m.author}} {{m.isRead === false ? '[New message]' : ''}}</div>
              </td>
              <td>
                    <div>{{m.subject}}</div>
              </td>
              <td>
                    <div>{{m.date | date:'medium'}}</div>
              </td>
              <td>
                  <button (click)="onSelect(m)" class="btn btn-secondary">Read</button>
              </td>
              <td>
                  <button (click)="delete(m)" class="btn btn-danger">Delete</button>
              </td>
            </tr>
          </tbody>
      </table>
      <app-message-details [mes] = "messageBody" ></app-message-details>